
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #66FCF1;
    font-family: Abel;
    font-size: 2m;
}

.gen{
    background-color: #3500D3;
}

.responsive{
    width: 100%;
    margin: 0;
}

blockquote{
    background-color: rgba(3, 2, 2, 0.582);
}



html { 
    background: url('bgimg/bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }



.jumbotron { 
    padding-top: 38px;
    padding-bottom: 30px;
    margin-bottom: 3px;
    background-color: #5CDB95;
    font-size: 7em;
    font-family: Abel;
    border: #3500D3;
    border-style: solid;
    border-radius: 2%;
}

.tabhead{
    padding: 10px;
    margin: 10% 50% 1% 1%;
    text-align: left;
    border-style:solid;
    border-radius: 10%;
    border-color: #3500D3;
    
}

